@{
    ViewBag.Title = "AllowAnonymous Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllowAnonymous Demo page</h2>
<div class="alert alert-success">
    <h3> You have enough permission.</h3>
</div>