@{
    ViewBag.Title = "PermissionDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Permission Denied</h2>
<div class="alert alert-danger">
    <h3> You do not have enough permission.</h3>
</div>